{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "plugins": ["jsx-a11y"],
  "rules": {
    "linebreak-style": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
